.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}
/* CSS für die Anordnung von Hex-Code und Copy-Button */
.hex-code-container {
  display: flex; /* Flexbox verwenden, um die Elemente nebeneinander anzuzeigen */
  align-items: center; /* Vertikale Zentrierung */
}
.copy-container {
  display: inline-block; /* Inline-Block für den Button */
}
.contrast-score {
  color: black; /* Textfarbe schwarz */
  font-weight: bold; /* Text dick gedruckt */
}
